// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background: white;
}

.container-full{
    padding: 1rem;
}

.mt-6{
    margin-top: 4rem !important;
}

blockquote{

    .row{
        div{
        padding: 0.4rem 1rem !important;
        font-size: 12px;
        &:nth-child(2)
        {
            font-weight: bold;
            text-align: center;
        }
    }}
}